<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <link href="__CSS_MOBILE__/reset.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/common.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/iconfont.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/bindphone.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/layer.css" rel="stylesheet" type="text/css">
    <title>绑定手机</title>
</head>
<body>
      <div class="content"><!--content-->

          <div class="top"><!--top-->
             <a class="back" href="{:url('personcenter')}"><i class="iconfont icon-fanhui"></i></a>
             <span class="login">绑定手机</span>
          </div><!--top-->

        
          <div class="bind">
            <p class="bind-pos"><span class="bind-tel">手机号:</span><input class="bind-input" type="text" placeholder="请输入手机号"></p>
            <p><input class="code" type="text" placeholder="请输入验证码"><input class="btn-code" type="button" value="获取验证码"></p>
          </div>
          
          <div class="tj">
            <input class="tj-btn" type="button" value="提交">
          </div>

      </div><!--content-->
      <script type="text/javascript" src="__JS_MOBILE__/jquery-1.9.0.min.js"></script>
      <script src="__JS_MOBILE__/layer.js"></script>
      
</body>
</html>