<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <link href="__CSS_MOBILE__/reset.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/common.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/iconfont.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/friends.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/layer.css" rel="stylesheet" type="text/css">
    <title>邀请好友</title>
</head>
<body>
     

          <div class="friend">
            <img class="friend-img" src="__IMAGES_MOBILE__/yqhy.jpg" alt="">
            <img class="friend-ewm" src="__IMAGES_MOBILE__/ewm.jpg" alt="">
          </div>


      <script type="text/javascript" src="__JS_MOBILE__/jquery-1.9.0.min.js"></script>
      <script src="__JS_MOBILE__/layer.js"></script>
      
</body>
</html>