<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <link href="__CSS_MOBILE__/reset.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/common.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/iconfont.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/paysuccess.css" rel="stylesheet" type="text/css">
    <link href="__CSS_MOBILE__/layer.css" rel="stylesheet" type="text/css">
    <title>支付成功</title>
</head>
<body>
      <div class="content"><!--content-->

          <div class="top"><!--top-->
             <span class="login">支付成功</span>
          </div><!--top-->

          <div class="zfcg">
            <p><img src="__IMAGES_MOBILE__/zfcg.png"></p>
            <p class="sus">支付成功</p>
            <p><a class="fh" href="javascript:;">返回首页</a></p>
          </div>
          

      </div><!--content-->
      <script type="text/javascript" src="__JS_MOBILE__/jquery-1.9.0.min.js"></script>
      <script src="__JS_MOBILE__/layer.js"></script>
      
</body>
</html>