<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--左侧菜单 start-->
<div class="leftpanel">
    <!--logo标识-->
    <div class="logo">
        <a><img src="__ADMIN_IMAGES__/logo.jpg" width="100" height="60"></a>
    </div>
    <!--菜单列表-->
    <div class="leftmenu thin-scroll">
        <ul>
            <li><a class="yingye current" href="main.html" target="workspace">会员</a></li>
            <li><a class="huiyuan">会员1</a></li>
            <li><a class="jinxc">库存</a></li>
            <li><a class="baobiao">报表</a></li>
            <li><a class="xfd">消费单</a></li>
            <li><a class="rw">微服务</a></li>
            <li><a class="shezhi" href="setup.html" target="workspace">设置</a></li>
        </ul>
    </div>
    <!--更多信息-->
    <div class="leftmenu_more"><a href="javascript:void(0)"></a></div>
</div>
<!--左侧菜单 end-->

<div class="content" style="margin: 0px 0px 0px 100px;">
    <!--顶部 start-->
    <div class="contnav flex">
        <!--标题-->
        <div class="txt">我的茶馆 <span>- 营业</span></div>
        <!--公告-->
        <div class="marquee flex-1" title="央行新规：4月1日起静态二维码收款单日限额500元，请联系客服提交资料、免费升级为动态二维码收款。400-870-8228">
            <marquee direction="left" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="6">
                央行新规：4月1日起静态二维码收款单日限额500元，请联系客服提交资料、免费升级为动态二维码收款。400-870-8228
                <a class="mqclose" href="javascript:void(0);" title="关闭"></a>
            </marquee>
        </div>
        <!--顶部右侧项目 start-->
        <div class="navinfo thin-scroll">
            <!--扫码收款-->
            <div class="nav_bill_online">
                <a href="javascript:void(0);">扫码收款</a>
            </div>
            <!--消息-->
            <div class="message"><a>消息</a></div>
            <!--当前用户-->
            <div class="user">
                <a href="javascript:void(0)">郎星</a>
                <div class="dropdown r5px">
                    <ul>
                        <li><a href="javascript:void(0);">账号信息</a></li>
                        <li><a href="javascript:void(0);">交班</a></li>
                        <li><a href="javascript:void(0);">交班对账单</a></li>
                        <li><a>交班记录</a></li>
                        <li><a href="javascript:void(0);">退出登录</a></li>
                    </ul>
                </div>
            </div>
            <!--当前门店信息-->
            <div class="shop">
                <a href="javascript:void(0)">【我的茶馆】</a>
                <div class="dropdown r5px">
                    <ul></ul>
                </div>
            </div>
        </div>
        <!--顶部右侧项目 end-->
    </div>
    <!--顶部 end-->
</div>
</body>
</html>