<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <link href="__CSS_NEW__/reset.css" rel="stylesheet" type="text/css">
    <link href="__CSS_NEW__/common.css" rel="stylesheet" type="text/css">
    <link href="__CSS_NEW__/iconfont.css" rel="stylesheet" type="text/css">
    <link href="__CSS_NEW__/paycode.css" rel="stylesheet" type="text/css">
    <link href="__CSS_NEW__/layer.css" rel="stylesheet" type="text/css">
    <title>付款码</title>
    <style>
      
    </style>
</head>
<body>
      <div class="content"><!--content-->

          <div class="top"><!--top-->
             <a class="back" href="javascript:history.go(-1);"><i class="iconfont icon-fanhui"></i></a>
             <span class="login">付款码</span>
          </div><!--top-->

          <div class="ewmbg">
            <img src="__IMAGES_NEW__/ewmbg.png">
            <p class="txm"><img  src="__IMAGES_NEW__/txm.jpg"></p>
            <span class="ewm"><img  src="__IMAGES_NEW__/ewm.jpg"></span>
            <p class="sys">请扫描上方二维码进行支付</p>
          </div>
          

      </div><!--content-->
      <script type="text/javascript" src="__JS_NEW__/jquery-1.9.0.min.js"></script>
      <script src="__JS_NEW__/layer.js"></script>
      
</body>
</html>