<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__ADMIN_CSS__/styles.bundle.css" rel="stylesheet">
    <style>
        html,body{
            height: 100%;
            width: 100%;
        }
        .viewsmall.in {
            min-height: 70%;
            width: 90%;
            top: 2%;
        }
        .form_cont .form_table td:nth-child(odd) {
            text-align: left;
            color: #777;
            width: 70px;
        }
    </style>
</head>
<body>
<div class="viewsmall form_cont r10px in" style="transform: translateX(-37%);">
    <div class="form_cap clearfix">
        <span class="fl">添加权限</span>
        <!--<a class="close fr" href="javascript:void(0);"></a>-->
    </div>
    <div class="form_detail">
        <!---->
        <form method="post" action="{:URL('tmvip/Admin/save_edit_role')}">
            <div class="form_table" style="min-width: 325px;margin: 0 auto;height: 700px;overflow: auto;">
                <div>角色名称： <input autofocus="true" placeholder="" type="text"
                                  class="ng-untouched ng-pristine ng-invalid" name="rule_name" value="{$role_name['role_name']}"></div>
                <div style="font-weight: 700;margin-top: 20px;">分配权限:</div>

                <table border="1" cellpadding="0" cellspacing="0">
                    {volist name="rule" id="v"}
                    <tr>
                        <td width="60">
                            <div style="width: 100%;font-weight: 700;border-bottom:1px solid #e6e7eb;"><input type="checkbox" name="rule[]" value="{$v.id}" {in name="v.id" value="$hasRules"} checked="checked" {/in} >{$v.rule_name}</div>
                            <div style="width: 100%;margin-left: 30px;white-space: normal">
                                {volist name="v.info" id="vo"}
                                <div style="width: 100%;white-space: normal;"><input type="checkbox" name="rule[]" value="{$vo.id}" {in name="vo.id" value="$hasRules"} checked="checked" {/in}>{$vo.rule_name}&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div style="width: 100%;margin-left:30px;white-space: normal;border-bottom:1px solid #e6e7eb;">
                                    {volist name="vo.info" id="voo"}
                                    <input type="checkbox" name="rule[]" value="{$voo.id}" {in name="voo.id" value="$hasRules"} checked="checked" {/in}>{$voo.rule_name}&nbsp;&nbsp;&nbsp;&nbsp;
                                    {/volist}
                                </div>
                                {/volist}
                            </div>

                        </td>
                    </tr>
                    {/volist}
                    <tr>
                        <td><input type="checkbox" class="qx" data-id="0">全选&nbsp;&nbsp;&nbsp;&nbsp;<input  type="submit" value="确定" class="btngreen baocun"> <input type="text" name="id" value="{$role_name.id}" hidden></td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</div>
<script src="__ADMIN_JS__/jquery.min.js"></script>
<script>
    $(function () {
        $(".qx").click(function () {
            var flag=$(this).attr("data-id")
            if(flag=="0"){
                $("table input[type='checkbox']").prop("checked","checked")
                $(this).attr("data-id","1")
            }else{
                $("table input[type='checkbox']").prop("checked",false)
                $(this).attr("data-id","0")
            }

        })
    })
</script>
</body>
</html>