<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__ADMIN_CSS__/styles.bundle.css" rel="stylesheet">
    <style>
        .viewsmall.in {
            min-height: 70%;
            width: 60%;
            top: 2%;
        }
    </style>
</head>
<body>
<div class="viewsmall form_cont r10px in" style="transform: translateX(-50%);">
    <div class="form_cap clearfix">
        <span class="fl">添加会员等级</span>
        <!--<a class="close fr" href="javascript:void(0);"></a>-->
    </div>
    <div class="form_detail">
        <!---->
        <form method="post" action="{:URL('tmvip/Admin/save_user_edit')}">
        <div class="form_table" style="width: 325px;margin: 0 auto;">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>管理员登录名：</td>
                    <td><input autofocus="true" placeholder="" type="text"
                               class="ng-untouched ng-pristine ng-invalid" name="username" value="{$data.username}">
                    </td>
                    <td colspan="2" style="text-align:left; padding:0;"></td>
                </tr>
                <tr>
                    <td>管理员姓名：</td>
                    <td><input  placeholder="" type="text"
                               class="ng-untouched ng-pristine ng-invalid" name="name" value="{$data.name}">
                    </td>
                    <td colspan="2" style="text-align:left; padding:0;"></td>
                </tr>
                <tr>
                    <td>角色:</td>
                    <td>
                        <select name="role_id">
                            <option value="">选择</option>
                            {volist name="role" id="v"}
                            <option value="{$v.id}" {eq name="data.role_id"  value="$v.id"}selected="selected"{/eq} >{$v.role_name}</option>
                            {/volist}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input name="user_id" type="" value="{$data.id}"  hidden></td>
                    <td><input  type="submit" value="确定" class="btngreen baocun"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </form>

    </div>
</div>
</body>
</html>