<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <link href="/mobile/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/mobile/css/common.css" rel="stylesheet" type="text/css">
    <link href="/mobile/css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="/mobile/css/confirm.css" rel="stylesheet" type="text/css">
    <link href="/mobile/css/red.css" rel="stylesheet">
    <script type="text/javascript" src="/mobile/js/jquery-1.9.0.min.js"></script>
    <script src="/mobile/js/icheck.min.js"></script>
    <script src="/mobile/js/layer.js"></script>
    <link href="/mobile/css/layer.css" rel="stylesheet" type="text/css">
    <title>确认支付</title>
</head>
<body>
      <div class="content"><!--content-->

          <div class="top"><!--top-->
             <a class="back" href="javascropt:;"><i class="iconfont icon-fanhui"></i></a>
             <span class="login">确认支付</span>
             <!--<a class="rel" href="reg.html">注册</a>-->
          </div><!--top-->

          <div class="total">
            <p class="total-cp">理茶宝产品</p> 
            <p class="total-y"><span>¥</span>{$data.recharge_money}</p>
            <p class="total-jf">赠{$recharge.total_inte}积分</p>
          </div>

          <div class="pay">支付方式</div>

          <div class="payment">
              <ul>
                  <li class="zfbpay">
                      <span><img src="/mobile/images/pay-zfb.png"></span>
                      <span>支付宝</span>
                      <span class="radio"><input value="0" type="radio" name="iCheck"></span>
                  </li>
                  <li class="wxpay" id="wx">
                      <span><img src="/mobile/images/pay-wx.png"></span>
                      <span>微信</span>
                      <span class="radio"><input value="1"  type="radio" name="iCheck"></span>
                  </li>
                  <li>
                      <span><img src="/mobile/images/pay-qb.png"></span>
                      <span>钱包余额</span>
                      <span class="radio"><input value="2"  type="radio" name="iCheck"></span>
                  </li>
                  <li>
                      <span><img src="/mobile/images/pay-xx.png"></span>
                      <span>线下支付</span>
                      <span class="radio"><input id="xx"  value="3" type="radio" name="iCheck"></span>
                  </li>
              </ul>
          </div>
          <div   class="xxinfo">
              <div class="xxinfo1">您选择了 线下支付，即将跳转到理茶宝页面，请在下方查看转账方式，并且完成转账后联系客服</div>
              <p style="text-align:center">线下充值渠道,公司账户</p>
              <div class="xxinfo2">
                  <p class="red">需要支付6%的税点</p>
                  <p>账户名称：国茶实业（上海）股份有限公司</p>
                  <p>开户银行：中国银行</p>
                  <p>银行账号：436462236256</p>
                  <p>开户网点：中国银行股份有限公司上海市零陵路支行</p>
                  <p class="red">温馨提示，转账时请在信息留言栏里备注商城用户名</p>
              </div>
              <p style="text-align:center">线下充值渠道</p>
              <div class="xxinfo2">
                  <p class="red">无需支付税点</p>
                  <p>账户名称：刘耿丹</p>
                  <p>开户银行：中国光大银行</p>
                  <p>银行账号：436462236256</p>
                  <p>银行账号：6226630602009028</p>
                  <p class="red">温馨提示，转账时请在信息留言栏里备注商城用户名</p>
              </div>
          </div>

          <div class="now">
              <input id="ljfk" type="button" class="now-btn" value="立即付款">
          </div>
          <div class="look">
              <input   type="button" class="look-btn" value="前往查看">
          </div>

      </div><!--content-->

<script>
    $(document).ready(function(){
        $('input').iCheck({
         checkboxClass: 'icheckbox_minimal-red',
         radioClass: 'iradio_minimal-red',
         increaseArea: '20%' // optional
    });
       });
</script>
      <script>
          $(function(){
              var payid = getUrlParam("id")//获取当前地址信息
              if (isWeiXin()) {
                  $(".wxpay").show()
                  $(".zfbpay").hide()
              } else {
                  $(".wxpay").hide()
                  $(".zfbpay").show()
              }

              //alert($("input[name='iCheck']:checked").val());


              $(".look-btn").click(function(){
                  location.href="{:url('appmobile/user/index')}";
              })

              $('input').on('ifChecked', function(event){
                  var pay_val = $(this).val();
                  if(pay_val == 3){
                      $('.now').css({'display':'none'});
                      $('.look').css({'display':'block'});
                      $('.xxinfo').css({'display':'block'});
                  }else{
                      $('.now').css({'display':'block'});
                      $('.look').css({'display':'none'});
                      $('.xxinfo').css({'display':'none'});
                  }
              });
              //选择微信支付
              $('#wx').on('ifClicked', function(event){
                  //alert(1)
                  $.ajax({
                      type:"post",
                      url:"{:url('appmobile/recharge/findOneById')}",
                      data:{id:payid},
                      success:function(data){
                          if(data==0){
                              layer.msg("服务器错误")
                          }else{
                              location.href="/wapWxpay/example/againManagerJsapi.php?body="+data.body+"&&money="+data.recharge_money+"&&attach=ordermanager&&trade="+data.recharge_num;
                          }
                      }
                  })
              });
              $("#ljfk").click(function(){
                  var pay_v = $(".payment input[type=radio]:checked").val();
                  //console.log(pay_v)
                  //支付宝0
                  if(pay_v == 0){
                      window.location.href="{:url('appmobile/recharge/webalpay')}?id="+payid;
                  }
              })
              //获取当前地址信息
              function getUrlParam(name) {
                  var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                  var r = window.location.search.substr(1).match(reg);
                  if (r != null) return unescape(r[2]);
                  return null;
              }
          })


          function isWeiXin() {
              var ua = window.navigator.userAgent.toLowerCase();
              if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                  return true;
              } else {
                  return false;
              }
          }
      </script>
</body>
</html>