body{
	background:#edf0f5;
}
.top{
	height:.45rem;
	text-align:center;
	line-height:.45rem;
	position:relative;
	background:#fff;
}
.icon-fanhui{
	font-size:.20rem;
	color:#000;
	font-weight:bold;
}
.back{
	position:absolute;
	left:.12rem;
}
.login{
	font-size:.18rem;

}
.zfcg{
	margin-top:5px;
	background:#fff;
	text-align:center;

}
.zfcg img{
	width:60px;
	padding-top:.38rem;
	padding-bottom:.15rem;
}
.sus{
	font-size:.17rem;
	color:#37b4e6;
}
.fh{
	display:inline-block;
	height:.45rem;
	width:1.4rem;
	border:solid 1px #ce0b0b;
	border-radius:6px;
	font-size:.15rem;
	line-height:.45rem;
	margin-top:.7rem;
	margin-bottom:.34rem;
}