body{
	background:linear-gradient(to top, #4359aa 0%, #6382f5 100%	);
}
.top{
	
	text-align:center;
	line-height:.45rem;
	position:relative;
	color:#fff;
}
.icon-fanhui{
	font-size:.20rem;
	color:#fff;
	font-weight:bold;
}
.back{
	position:absolute;
	left:.12rem;
}
.login{
	font-size:.18rem;

}
.ewmbg{
	position:relative;
	margin:30px;
	text-align:center;
}
.ewmbg img{
	width:100%;
	margin-top:.4rem;
	position:relative;

}
.txm{
        position:absolute;
        top:5%;
        left:50%;
        width:260px;
        margin-left:-130px;
        height:50px;
      }
.txm img{
	height:100px;
}      
/*top:25%;*/
.ewm img{
	width:160px;
	position:absolute;
	top:32%;
	left:50%;
	margin-left:-80px;
}
.sys{
	position:absolute;
	width:220px;
	bottom:5%;
	left:50%;
	margin-left:-110px;
	font-size:.17rem;
	text-align:center;
}



@media screen and (max-width: 320px){

	.txm{
        position:absolute;
        top:5%;
        left:50%;
        width:220px;
        margin-left:-110px;
        height:50px;
      }
	.txm img{
		height:100px;
	}      
	/*top:25%;*/
	.ewm img{
		width:140px;
		position:absolute;
		top:32%;
		left:50%;
		margin-left:-70px;
	}
		
}