<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="__ADMIN_IMAGES__/mjicon.ico" type="image/x-icon">
    <link href="__ADMIN_CSS__/styles.bundle.css" rel="stylesheet">
    <style>
        iframe{
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    </style>
    </head>
<body>
<div class="main">
    <!---->
    <div class="leftpanel">
        <div class="logo"><a>
            <!----><img height="60" src="__ADMIN_IMAGES__/logo.jpg" width="100">
            <!---->
        </a></div>
        <div class="leftmenu thin-scroll">
            <!---->
        <ul>
                {volist name="menu" id="v"}
                <li><a  href="{:URL($v['module_name'].'/'.$v['controller_name'].'/'.$v['action_name'])}"
                       target="aaa"  {eq name="v.parent_id" value="0"} class="curr"{else/}style="display: none;"{/eq}>{$v.rule_name}</a></li>
                {/volist}

            </ul>
        </div>

    </div>

    <div class="content" style="margin: 0px 0px 0px 100px;">
        <!---->
        <div class="contnav flex">
            <div class="txt">
                {$admin.username}<!----><span> - {$admin.role_name}</span>
            </div>
            <div class="marquee flex-1">
                <!----><marquee direction="left" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="6">
                <!--v3.1.0版本更新内容：1、条码枪扫码收款；2、客人微信自助买单；3、商品沽清；更多详情请关注微信公众号：“茗匠门店管理系统”。
                <a class="mqclose" href="javascript:void(0);" title="关闭"></a>-->
            </marquee>
            </div>
            <div class="navinfo thin-scroll">
                <!--<div class="nav_feedback"><a href="javascript:void(0);">意见反馈</a></div>-->
                <!--<div class="message"><a>消息</a>&lt;!&ndash;&ndash;&gt;</div>-->
                <div class="user">
                    <a href="javascript:void(0)">{$admin.username}</a>
                    <div class="dropdown r5px">
                        <ul>
                            <li><a href="{:URL('tmvip/Admin/out_login')}">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div class="shop">-->
                    <!--<a href="javascript:void(0)">【gc】</a>-->
                    <!--<div class="dropdown r5px">-->
                        <!--<ul>-->
                            <!--&lt;!&ndash;&ndash;&gt;-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="nfb_box tst2s r5px]">
            <!---->
            <i class="jiantou"></i>
            <div class="caption"><span>意见反馈</span><a class="close" href="javascript:void(0);"></a></div>
            <div class="box">
                <textarea class="r3px ng-untouched ng-pristine ng-valid" placeholder="请上帝们指正！ o(╥﹏╥)o"></textarea>
            </div>
            <a class="btngreen" href="javascript:void(0);">提交</a>
        </div>
        <div class="contview">
            <iframe src="{:URL('tmvip/Report/lichabao')}" frameborder="0" id="frame" name="aaa"></iframe>

        </div>
    </div>
    <!--登录失效提示-->
    <div class="feedback tst2s r5px">
        登录信息已失效，请重新登录

    </div>
</div>
<script src="__ADMIN_JS__/jquery.min.js"></script>
<script>
    $(function () {
        $(".leftmenu ul li a.curr:eq(0)").addClass("current")
        var href=$(".leftmenu ul li a.curr:eq(0)").attr("href")
        $("#frame").attr("src",href)
        $(".leftmenu ul li").click(function () {
            $(".leftmenu ul li a").removeClass("current")
            $(this).find("a").addClass("current")
        })
        $(".user").mouseover(function () {
            $(".user>.dropdown").addClass("in")
        }).mouseleave(function () {
            $(".user>.dropdown").removeClass("in")
        })

    })
</script>
</body>
</html>